section.page-title-section{
    .page-title{
        padding-top: 21px;
        padding-bottom: 24px;
        font-size: 1.875rem;
        font-weight: 400;
        font-style: normal;
        color: #333333;
        text-align: center;
    }
    .sub-heading{
        font-size: 1.063rem;
        font-weight: 400;
        color: #8B8989;
        padding-bottom: 10px;
        text-align: center;
    }
}